
@model IEnumerable<FastEquipmentRental.Models.Equipment>

@{
    Layout = "_Layout";
    ViewBag.Title = "All Equipment";
}

<div class="panel-body">

    <h2>All Equipment</h2>

    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Description</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var equipment in Model)
            {
                <tr>
                    <td>@equipment.Id</td>
                    <td>@equipment.Type</td>
                    <td>@equipment.Description</td>
                    <td>@equipment.Availability</td>
                </tr>
            }
        </tbody>
    </table>
</div>
