
@model FastEquipmentRental.Models.EquipmentRequest

@{
    Layout = "_Layout";
    ViewBag.Title = "Confirmation";
}

<p>
    <h1>Thank you, @Model.Name!</h1>

    Your request has been made, and someone from I.T will contact you shortly.
    
</p>
<p>Click <a asp-action="Index">here</a> to go back Home</p>
