
@{
    Layout = "_Layout";
    ViewBag.Title = "FAST Equipment";
}

<h1>FAST Equipment Tool Rentals</h1>

<p>This site is for students and faculty of the FAST department at Sheridan College. <p>
<p>It is here so they can rent out equipment and tools during the school year. Thank you for stopping by!</p>

