
@model IEnumerable<FastEquipmentRental.Models.EquipmentRequest>

@{
    Layout = "_Layout";
    ViewBag.Title = "Requests";
}



<div class="panel-body">
    <form asp-action="Requests" method="post">

        <h2>All Requests</h2>

        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Equipment Type</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var request in Model)
                {
                    <tr>
                        <td>@request.Id</td>
                        <td>@request.EqType</td>
                        <td>@request.Name</td>
                        <td>@request.Role</td>
                        <td><a href='/Home/RequestDetails/@request.Id'> Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
